* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: 'Share';
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    background: #f9f8f4;
}

.container {
    max-width: 1704px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    border: 3px solid #242424;
}

.header__nav {
    height: 75px;
    display: flex;
    align-items: center;
}

.header__container {
    display: flex;
    justify-content: space-between;
}

.header__link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: #242424;
}

.header__list {
    display: flex;
    gap: 120px;
}

.header__list-logo {
    display: flex;
    gap: 61px;
}

.intro {
    background: url(../images/introBg.jpg) no-repeat bottom /cover;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 108px;
}

.intro__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 74px;
    text-transform: uppercase;
    color: #eee;
    margin-bottom: 40px;
}

.intro__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: #eee;
    max-width: 984px;
    width: 100%;
}

.intro__link {
    margin-top: 60px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: #eee;
    border: 2px solid #eee;
    width: 264px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.shop {
    margin-top: 140px;
}

.shop__top {
    margin-bottom: 60px;
}

.shop__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    color: #242424;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}

.shop__title::after {
    content: '';
    display: block;
    width: 144px;
    height: 2px;
    background: #000;
}

.shop__mini-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: #242424;
    max-width: 696px;
    width: 100%;
    margin-bottom: 20px;
}

.shop__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #6c6c6c;
    max-width: 1704px;
    width: 100%;
}

.shop__item-sakura {
    background: url(../images/shop-img-1.jpg) no-repeat bottom /cover;
    position: relative;
}

.shop__item-tokyo {
    background: url(../images/shop-img-2.jpg) no-repeat bottom /cover;
    position: relative;
}

.shop__item-fuji {
    background: url(../images/shop-img-3.jpg) no-repeat bottom /cover;
}

.shop__bottom {
    display: grid;
    grid-template-columns: 840px 840px;
    grid-template-rows: 400px 400px;
    gap: 24px;
}

.shop__item-fuji {
    grid-row: 1/ span 2;
    grid-column: 2;
}

.shop__item-discount {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #f9f8f4;
    display: block;
    width: 120px;
    height: 60px;
    background: #242424;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    margin-left: 24px;
}

.shop__item-info {
    margin-top: 132px;
    margin-left: 24px;
}

.shop__fuji-info {
    margin-top: 556px;
    margin-left: 24px;
}

.shop__item-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #f9f8f4;
}

.shop__item-size {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #f9f8f4;
    margin-top: 20px;
}

.shop__item-color {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #f9f8f4;
    margin-top: 10px;
}

.shop__item-price {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #f9f8f4;
    margin-top: 40px;
}

.bestsellers {
    margin-top: 140px;
    margin-bottom: 140px;
}

.bestsellers__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    color: #242424;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.bestsellers__title::after {
    content: '';
    display: block;
    width: 144px;
    height: 2px;
    background: #242424;
}

.bestsellers__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: #242424;
    margin-bottom: 20px;
}

.bestsellers__text-opacity {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #6c6c6c;
    margin-bottom: 60px;
}

.bestsellers__cards {
    display: grid;
    grid-template-columns: repeat(3, 552px);
    grid-template-rows: repeat(2, 800px);
    gap: 24px;
}

.bestsellers__card-1 {
    background: url(../images/card-1.jpg);
    position: relative;

}

.bestsellers__card-2 {
    background: url(../images/card-2.jpg);
    position: relative;

}

.bestsellers__card-3 {
    background: url(../images/card-3.jpg);
    position: relative;

}

.bestsellers__card-4 {
    background: url(../images/card-4.jpg);
    position: relative;

}

.bestsellers__card-5 {
    background: url(../images/card-5.jpg);
    position: relative;

}

.bestsellers__card-6 {
    background: url(../images/card-6.jpg);
    position: relative;

}

.bestsellers__card-discount {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: #f9f8f4;
    display: block;
    width: 120px;
    height: 60px;
    background: #242424;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    left: 24px;
}

.bestsellers__card-icons {
    display: flex;
    gap: 24px;
    position: absolute;
    top: 20px;
    right: 24px;
}

.bestsellers__card-icon {
    width: 21px;
    height: 24px;


}

.bestsellers__icon {
    width: 60px;
    height: 60px;
    background: #f9f8f4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bestsellers__card-info {
    margin-top: 516px;
    margin-left: 24px;
}

.bestsellers__card-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #f9f8f4;
}

.bestsellers__card-size {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #f9f8f4;
    margin-top: 20px;
}

.bestsellers__card-color {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #f9f8f4;
    margin-top: 10px;
}

.bestsellers__card-price {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #f9f8f4;
    margin-top: 40px;
}


.bestsellers__link {
    display: inline-block;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: #242424;
    width: 200px;
    height: 80px;
    background: #f9f8f4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 24px;
    margin-top: 20px;
}

.about__us {
    margin-bottom: 140px;
}

.about__us-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    color: #242424;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.about__us-title::after {
    content: '';
    display: block;
    width: 144px;
    height: 2px;
    background: #242424;
}

.about__us-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: #242424;
    margin-bottom: 20px;
}

.about__us-text-opacity {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #6c6c6c;
    margin-bottom: 60px;
}


.footer {
    margin-top: 120px;
    background: #F9F8F4;
    border-top: 1px solid #242424;
}

.footer__container {
    padding: 137px 108px;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__nav-list {
    display: flex;
    gap: 140px;
}

.footer__nav-list-link {
    font-family: "Share";
    font-weight: 400;
    font-size: 24px;
    color: #242424;
}

.footer__social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__social-title {
    font-family: "Share";
    font-weight: 400;
    font-size: 20px;
    line-height: 90%;
    color: #242424;
    margin-bottom: 20px;
}

.footer__icons {
    display: flex;
    gap: 20px;
}


@media (max-width:1690px) {

    .shop__bottom {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .bestsellers__cards {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .intro {
        min-height: 1000px;
        height: auto;
    }

    .about__us-img {
        width: 100%;
        max-width: 1704px;
        min-width: 280px;
        height: auto;
        display: block;
        object-fit: cover;
    }
}

@media (max-width: 1400px) {

    .container {
        padding: 0 24px;
    }

    .header__list {
        gap: 80px;
    }

    .intro {
        padding-left: 64px;
    }

    .intro__title {
        font-size: 64px;
    }

    .footer__container {
        padding: 100px 64px;
    }

    .footer__nav-list {
        gap: 100px;
    }
}

@media (max-width: 1200px) {

    .shop__bottom {
        grid-template-columns: 1fr;
    }

    .shop__item-fuji {
        grid-column: auto;
        grid-row: auto;
    }

    .shop__fuji-info {
        margin-top: 132px;
    }

    .bestsellers__cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .intro {
        padding-left: 48px;
    }

    .intro__title {
        font-size: 52px;
    }

    .footer__container {
        padding: 100px 48px;
    }

    .footer__nav {
        flex-direction: column;
        gap: 40px;
        text-align: center;
    }

    .footer__nav-list {
        justify-content: center;
        gap: 80px;
    }

    .footer__social {
        align-items: center;
    }

    .header__nav {
        height: auto;
        padding: 24px 0;
    }

    .header__container {
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .header__list {
        gap: 48px;
        justify-content: center;
    }

    .header__list-logo {
        gap: 32px;
    }
}


@media (max-width: 768px) {

    .header__container {
        flex-direction: column;
        gap: 20px;
    }

    .header__list {
        gap: 40px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .header__list-logo {
        gap: 32px;
    }

    .intro {
        padding-left: 24px;
        padding-right: 24px;
    }

    .intro__title {
        font-size: 40px;
    }

    .intro__text {
        font-size: 18px;
    }

    .shop {
        margin-top: 100px;
    }

    .bestsellers__cards {
        grid-template-columns: 1fr;
    }

    .bestsellers__card-info {
        margin-top: 400px;
    }

    .footer__container {
        padding: 80px 24px;
    }

    .footer__nav-list {
        flex-wrap: wrap;
        gap: 40px;
    }

    .footer__nav-list-link {
        font-size: 20px;
    }

    .footer__social-title {
        font-size: 18px;
    }

    .header__container {
        gap: 20px;
    }

    .header__list {
        flex-wrap: wrap;
        gap: 32px;
        text-align: center;
    }

    .header__link {
        font-size: 20px;
    }

    .header__list-logo {
        gap: 24px;
    }
}

@media (max-width: 480px) {

    .footer__nav-list {
        flex-direction: column;
        gap: 24px;
    }

    .intro__title {
        font-size: 32px;
    }

    .intro__text {
        font-size: 16px;
    }

    .header__list {
        flex-direction: column;
        gap: 20px;
    }

    .header__link {
        font-size: 18px;
    }

    .header__list-logo {
        gap: 20px;
    }

    .bestsellers__icon {
        width: 44px;
        height: 44px;
    }

    .bestsellers__card-icon {
        width: 18px;
        height: 18px;
    }

    .bestsellers__card-icons {
        gap: 16px;
        top: 16px;
        right: 16px;
    }

    .bestsellers__title::after,
    .shop__title::after,
    .about__us-title::after {
        display: none;
    }

    .bestsellers__title,
    .shop__title,
    .about__us-title {
        justify-content: center;
        align-items: center;
    } 
}